section.section.section_white.advantages
  .container
    .row.justify-content-center
      .section-name.col-md-2.
        Преимущества
    .row.justify-content-center
      .section-heading.
        8 причин начать работать с нами

    include ../item/item.jade
    .row.mb-4
      +item({
        img: "./components/advantages/img/wallet.png",
        alt: "Кошелек",
        heading: "Никаких наличных, оплата происходит автоматически",
        description: "Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена."
        })

      +item({
        img: "./components/advantages/img/diagram.png",
        alt: "Графики",
        heading: "Комиссия 8% + БОНУСЫ",
        description: "У нас минимальная комиссия и мы выплачиваем бонусы за каждую поездку, некоторые наши конкуренты оставляют бонусы себе. Мы работаем честно и с нами водители зарабатывают больше!"
        })

      +item({
        img: "./components/advantages/img/money.png",
        alt: "Деньги",
        heading: "Высокий доход с гарантированными выплатами",
        description: "Мы выплачиваем заработную плату на личную банковскую карту водителя! Вам не нужно оформлять ООО, ИП, платить налоги, подавать декларацию, оплачивать бухгалтерские услуги и ведение банковского счета."
        })

      +item({
        img: "./components/advantages/img/calendar.png",
        alt: "Календарь",
        heading: "Работа в удобное время, никаких графиков",
        description: "Вы просто нажимаете кнопку выйти на линию для начала работы, когда решите закончить, нажимаете выйти с линии. Вы можете подрабатывать только утром, вечером, в выходные или праздничные дни! "
        })

      +item({
        img: "./components/advantages/img/key.png",
        alt: "Замочный ключ",
        heading: "Комфортное, прозрачное и простое подключение",
        description: "Мы подключаем дистанционно и бесплатно, Вам нет необходимости приезжать к нам! Вы присылаете нам копии документов, мы регистрируем Вас и присылаем данные для подключения, через 1-2 дня Вы можете начинать работать!"
        })

      +item({
        img: "./components/advantages/img/navigation.png",
        alt: "Навигация",
        heading: "Всегда большое количество заказов",
        description: "Приложение показывает, где на данный момент больше всего заказов и где действуют повышенные тарифы. У Вас не будет простоя и холостых пробегов. Наши пассажиры всегда приятные и абсолютно неконфликтные люди, которых приятно возить."
        })

      +item({
        img: "./components/advantages/img/phone.png",
        alt: "Телефон",
        heading: "Круглосуточная поддержка",
        description: "В Uber действует круглосуточная поддержка водителей по электронной почте. Если что-то непонятно, Вы всегда можете задать вопрос через On-line консультацию."
        })

      +item({
        img: "./components/advantages/img/car.png",
        alt: "Автомобиль",
        heading: "Без шашечек и наклеек",
        description: "Вам не нужно менять цвет, устанавливать «шашки» на автомобиль и обклеивать его наклейками."
        })


