@import '../../assets/scss/utils/vars.scss';
@import '../../components/button/button.scss';

.container {
    // width: 1070px;
}

.header {

    .header-navigation {
        background-color: $mainColor;

        .main-menu {
            display: flex;
            justify-content: space-around;
            min-height: 50px;
            padding: 10px 38px 0;


            .main-menu__item {
                flex-grow: 1;
                text-align: center;

                line-height: 30px;

                &:not(:last-child) {
                    height: 30px;
                    border-right: 2px dotted #000000;
                }
            }
        }
    }

    .sub-header {
        min-height: 75px;
        width: 100%;
        background-color: transparentize($mainColor, 0.3);
        padding-top: 10px;

        position: absolute;

        .logotype {
            // margin-left: 75px;

            margin-top: 2px;

            .logotype__img {
                width: 260px;
                height: 28px;
                margin-bottom: 2px;
            }

            .logotype__description {

                font-size: 12px;
                font-weight: 100;
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .call-back {

            margin-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .call-back__description {
                font-size: 11px;
                font-weight: 300;
            }

            .call-back__phone-number {
                font-size: 20px;
                font-weight: normal;
            }


        }

        .call-back__request-call {
            margin-top: 5px;

        }
    }
}

.promo {
    padding-top: 140px;
    padding-bottom: 130px;
    background: url("../../components/promo/img/bgImage.jpg") center center/cover no-repeat;

    .promo__heading {
        text-transform: uppercase;
        text-align: center;
        font-size: 52px;
        font-weight: 900;
    }

    .promo__offer {
        margin-bottom: 17px;

        text-transform: uppercase;
        text-align: center;
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
    }

    .promo__description {
        margin-bottom: 170px;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.33;
        text-align: center;
    }

    .promo__send-request {
        height: 60px;

        font-size: 17px;
    }
}

.section-name {
    height: 24px;

    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    border-radius: 4px;

    &.section-name_black {
        color: $secondColor;

        background-color: $mainColor;
    }
}

.section-heading {
    width: 100%;

    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    font-weight: bold;

    &.section-heading_black {
        color: $mainColor;
    }
}


.advantages {
    color: $mainColor;

    background-color: $secondColor;

    .item-w {
        margin-bottom: 30px;
    }

    .item {
        padding-top: 5px;

        .item__icon {
            width: 113px;
            height: 113px;
            margin-top: 10px;

            background-color: $specialColorMain;
            border-radius: 50%;

            .item__icon-img {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .item__heading {
            width: 341px;
            display: block;

            font-size: 17px;
            font-weight: normal;
            color: $specialColorMain;
            text-align: left;
        }

        .item__description {
            width: 346px;
            display: block;

            font-size: 15px;
            font-weight: 300;
            text-align: justify;
        }
    }
}

.section {
    padding: 70px 0 0 0;

    .section-name {
        margin-bottom: 30px;
    }

    .section-heading {
        margin-bottom: 17px;
    }
}

// background: url("../../assets/img/road.jpg") center center/cover no-repeat;

// .container {

//     background-color: rgb(224, 131, 131);

//     .row {

//         background-color: rgb(153, 224, 131);

//         [class|="col"] {
//             outline: 1px dashed blue;
//             outline-offset: -1px;
//         }
//     }
// }