@import '../../assets/scss/utils/vars.scss';
@import '../../components/button/button.scss';

.section {
    padding: 70px 0 40px 0;

    .section-name {
        height: 24px;
        margin-bottom: 30px;

        font-size: 11px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        text-align: center;

        border-radius: 4px;
    }


    .section-heading {
        margin-bottom: 17px;

        text-transform: uppercase;
        text-align: center;
        font-size: 38px;
        font-weight: bold;


    }

    .section-subheading {
        margin-top: -15px;
        margin-bottom: 30px;

        font-size: 17px;
        font-weight: normal;
        text-align: center;


    }

    &.section_white {
        color: $mainColor;

        background-color: $secondColor;

        .section-name {
            color: $secondColor;

            background-color: $mainColor;
        }

        .section-heading {
            color: $mainColor;
        }

        .section-subheading {
            color: $mainColor;
        }
    }

    &.section_black {
        color: $secondColor;

        background-color: $bgColor;

        .section-name {
            color: $mainColor;

            background-color: $secondColor;
        }

        .section-heading {
            color: $secondColor;
        }

        .section-subheading {
            color: $secondColor;
        }
    }
}

.header {

    .header-navigation {
        background-color: $mainColor;

        .main-menu {
            display: flex;
            justify-content: space-around;
            min-height: 50px;
            padding: 10px 38px 0;


            .main-menu__item {
                flex-grow: 1;
                text-align: center;

                line-height: 30px;

                &:not(:last-child) {
                    height: 30px;
                    border-right: 2px dotted #000000;
                }
            }
        }
    }

    .sub-header {
        min-height: 75px;
        width: 100%;
        background-color: transparentize($mainColor, 0.3);
        padding-top: 10px;

        position: absolute;

        .logotype {
            // margin-left: 75px;

            margin-top: 2px;

            .logotype__img {
                width: 260px;
                height: 28px;
                margin-bottom: 2px;
            }

            .logotype__description {

                font-size: 12px;
                font-weight: 100;
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .call-back {

            margin-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .call-back__description {
                font-size: 11px;
                font-weight: 300;
            }

            .call-back__phone-number {
                font-size: 20px;
                font-weight: normal;
            }


        }

        .call-back__request-call {
            margin-top: 5px;

        }
    }
}

.promo {
    padding-top: 140px;
    padding-bottom: 130px;
    background: url("../../components/promo/img/bgImage.jpg") center center/cover no-repeat;

    .promo__heading {
        text-transform: uppercase;
        text-align: center;
        font-size: 52px;
        font-weight: 900;
        text-shadow: 1px 1px 6px rgb(0, 0, 0);
    }

    .promo__offer {
        margin-bottom: 17px;

        text-transform: uppercase;
        text-align: center;
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        text-shadow: 1px 1px 6px rgb(0, 0, 0);
    }

    .promo__description {
        margin-bottom: 170px;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.33;
        text-align: center;
        text-shadow: 1px 1px 6px rgb(0, 0, 0);
    }

    .promo__send-request {
        height: 60px;

        font-size: 17px;
    }
}

.advantages {
    .item {
        padding-top: 5px;
        padding-bottom: 30px;

        .item__icon {
            width: 113px;
            height: 113px;
            margin-top: 10px;

            background-color: $specialColorMain;
            border-radius: 50%;

            .item__icon-img {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .item__heading {
            width: 341px;
            display: block;

            font-size: 17px;
            font-weight: normal;
            color: $specialColorMain;
            text-align: left;
        }

        .item__description {
            width: 346px;
            display: block;

            font-size: 15px;
            font-weight: 300;
            text-align: justify;
        }
    }
}


.mobile-app {
    background:
        linear-gradient(to top, rgba(80, 80, 80, 0.5), rgba(255, 255, 255, 0.5)),
        url("../../assets/img/road.jpg") center center/cover no-repeat;

    .card {
        position: relative;

        display: block;
        width: 320px;
        height: 280px;
        padding: 90px 20px 0;
        margin-bottom: 20px;
        border-radius: 6px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: center/cover;
        background-color: rgba(59, 59, 72, 0.9);
        background-blend-mode: multiply;

        &:hover {
            background-color: rgba(59, 59, 72, 0.7);
        }


        .card__heading {

            font-size: 24px;
            font-weight: normal;
            line-height: 1.29;
            text-align: center;
            text-transform: uppercase;

            &::before {
                content: "";

                position: absolute;
                left: 50%;
                bottom: 35px;
                transform: translate(-50%);

                display: block;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background-color: #000000;


            }

            &::after {
                content: "+";

                position: absolute;
                left: 50%;
                bottom: 35px;
                transform: translate(-50%);

                line-height: 27px;
                color: $specialColorMain;
                font-size: 30px;
                font-weight: 400;

            }
        }
    }
}

.car-choice {
    .car-banner {
        position: relative;

        padding-top: 45px;
        margin-bottom: 350px;

        .car-banner__text {
            position: relative;
            z-index: 1;

            padding-bottom: 27px;
            width: 99vw;

            .car-banner__text-heading {

                display: block;

                font-size: 44px;
                font-weight: 400;
                text-align: center;
            }

            .car-banner__text-subheading {
                display: block;

                font-size: 16px;
                color: $mainColor;
                text-align: center;
                text-transform: uppercase;
            }
        }

        // круг за автомобилем
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translate(-50%, -20px);

            width: 600px;
            height: 600px;
            border-radius: 50%;


            background-color: $specialColorMain;
        }

        // автомобиль
        .car-banner__img {
            position: absolute;
            z-index: 3;
            left: 50%;
            transform: translate(-50%);
        }

        // пол для автомобиля
        &::after {
            content: "";

            position: absolute;
            z-index: 2;
            top: 290px;

            width: 99vw;
            height: 350px;

            background:
                linear-gradient(to bottom,
                    transparentize($bgColor, 0.5),
                    transparentize($specialColorMain, 0.8),
                    #ffffff),
                #ffffff;
            box-shadow: 0 2px 0 2px white;
        }

    }

    .car-choice__caption {
        position: relative;
        z-index: 4;

        margin-bottom: 48px;

        text-align: center;
        color: $mainColor;
        font-size: 17px;

    }
}

.requirements {
    .requirement {
        width: 490px;
        margin-bottom: 60px;

        // blue theme
        &.requirement_blue {
            .requirement__heading {
                color: $specialColorMain;
            }

            .requirement__description {
                color: $specialColorMain;
            }

            .requirement-list__item {
                .requirement-list__item-check {
                    fill: $specialColorMain;
                }
            }
        }

        // orange theme
        &.requirement_orange {
            .requirement__heading {
                color: $markerColor;
            }

            .requirement__description {
                color: $markerColor;
            }

            .requirement-list__item {
                .requirement-list__item-check {
                    fill: $markerColor;
                }
            }
        }

        .requirement__heading {
            font-size: 22px;
            font-weight: 400;
        }

        .requirement-list {
            margin-top: 10px;
            padding-left: 40px;

            font-size: 17px;

            .requirement-list__item {
                position: relative;

                margin-bottom: 10px;

                line-height: 24px;

                .requirement-list__item-check {
                    position: absolute;
                    left: -30px;
                    top: 2px;

                    width: 20px;
                    height: 20px;
                }


            }
        }

        .requirement__description {
            font-size: 17px;
            line-height: 24px;
        }
    }
}

.map {
    position: relative;
    background-color: none;
    height: 717px;

    background: url("../../components/map/img/map.jpg") center (center/cover) no-repeat;


    .map__link {
        position: absolute;
        z-index: 4;
        bottom: 70px;

        display: block;

        text-transform: uppercase;
        text-align: center;
        color: $specialColorMain;
        font-size: 15px;
        font-weight: normal;

        &:hover {
            color: $secondColor;
        }
    }
}

.footer {
    padding: 50px 15px 0;
    display: flex;
    justify-content: space-between;

    .social {
        width: 302px;

        .social-list {
            display: flex;

            .social-list__item {
                &:not(:last-child) {
                    margin-right: 10px;
                }

                .social__item-link {
                    display: block;
                    width: 32px;
                    height: 32px;

                    font-size: 0;

                    border-radius: 50%;

                    &:hover {
                        box-shadow: 0 0 2px 3px $specialColorMain;
                    }

                    &.facebook {
                        background:
                            url("../../components/footer/img/soc-fcbk.png") center center no-repeat,
                            $bgColor;
                    }

                    &.twitter {
                        background:
                            url("../../components/footer/img/soc-twtr.png") center center no-repeat,
                            $bgColor;
                    }

                    &.linkedin {
                        background:
                            url("../../components/footer/img/soc-lnkdn.png") center center no-repeat,
                            $bgColor;
                    }

                    &.instagram {
                        background:
                            url("../../components/footer/img/soc-instgrm.png") center center no-repeat,
                            $bgColor;
                    }
                }
            }
        }
    }

    .footer-navigation {
        position: relative;

        &::before {
            content: "";

            position: absolute;
            top: -35px;
            left: 50%;
            transform: translate(-50%);

            width: 300px;
            height: 4px;

            background-color: $specialColorMain;
        }

        .footer-main-menu {
            display: flex;
            justify-content: center;

            font-size: 15px;
            font-weight: 300;
            text-transform: uppercase;


            .footer-main-menu__item {

                .footer-main-menu__item-link {
                    display: block;
                    padding: 0 25px 5px;
                    color: $mainColor;

                    &:hover {
                        color: $specialColorMain;
                        text-decoration: underline;
                    }
                }
            }
        }

        .footer-sub-menu {
            display: flex;
            justify-content: center;

            font-size: 11px;
            font-weight: 300;
            text-transform: uppercase;


            .footer-sub-menu__item {

                .footer-sub-menu__item-link {
                    display: block;
                    padding: 0 10px 15px;
                    color: $opacityText;

                    &:hover {
                        color: $specialColorMain;
                        text-decoration: underline;
                    }
                }
            }
        }

        .language {
            display: flex;
            justify-content: center;

            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;


            .language-link {
                display: block;
                padding: 0 10px;

                color: $specialColorMain;

                &:hover {
                    color: $mainColor;
                    text-decoration: underline;
                }

            }
        }
    }

    .app-install {
        width: 302px;

        .app-install-list {
            display: flex;
            justify-content: flex-end;

            .app-install-list__item {
                &:not(:last-child) {
                    margin-right: 10px;
                }

                .app-install-list__item-link {
                    display: block;
                    width: 94px;
                    height: 26px;
                    border-radius: 4px;

                    font-size: 0;

                    &:hover {
                        box-shadow: 0 0 2px 3px $specialColorMain;
                    }

                    &.apple {
                        background: url("../../components/footer/img/app-install__apple.png") center center no-repeat;
                    }

                    &.google {
                        background: url("../../components/footer/img/app-install__google.png") center center no-repeat;
                    }

                    &.windows {
                        background: url("../../components/footer/img/app-install__windows.png") center center no-repeat;
                    }
                }
            }
        }
    }
}