section.section.section_black.map.clearfix
  .container
    .row.justify-content-center
      .section-name.col-md-2.
        Города
    .row.justify-content-center
      .section-heading.
        По всему миру
    .row.justify-content-center
      .section-subheading.
        Мы в вашем городе и по всему миру
    .row.justify-content-center
      a(href="#").map__link Посмотреть все города