section.section.mobile-app
  .container
    .row
      .section-name.section-name_black.offset-md-5.col-md-2.
        Преимущества
    .row
      .section-heading.section-heading_black.
        8 причин начать работать с нами