
<section class="section section_white footer">
  <nav class="social">
    <p class="visually-hidden">Наши соцсети:</p>
    <ul class="social-list">
      <li class="social-list__item"><a class="social__item-link facebook" href="#">facebook</a></li>
      <li class="social-list__item"><a class="social__item-link twitter" href="#">twitter</a></li>
      <li class="social-list__item"><a class="social__item-link linkedin" href="#">linkedin</a></li>
      <li class="social-list__item"><a class="social__item-link instagram" href="#">instagram</a></li>
    </ul>
  </nav>
  <nav class="footer-navigation">
    <ul class="footer-main-menu">
      <li class="footer-main-menu__item"><a class="footer-main-menu__item-link" href="#">На главную</a></li>
      <li class="footer-main-menu__item"><a class="footer-main-menu__item-link" href="#">Города</a></li>
      <li class="footer-main-menu__item"><a class="footer-main-menu__item-link" href="#">Для водителей</a></li>
    </ul>
    <ul class="footer-sub-menu">
      <li class="footer-sub-menu__item"><a class="footer-sub-menu__item-link" href="#">Центр поддержки</a></li>
      <li class="footer-sub-menu__item"><a class="footer-sub-menu__item-link" href="#">Вакансии</a></li>
      <li class="footer-sub-menu__item"><a class="footer-sub-menu__item-link" href="#">Разработчики</a></li>
      <li class="footer-sub-menu__item"><a class="footer-sub-menu__item-link" href="#">Блог</a></li>
      <li class="footer-sub-menu__item"><a class="footer-sub-menu__item-link" href="#">О нас</a></li>
    </ul>
    <p class="language"><a class="language-link" href="#">Русский</a></p>
  </nav>
  <nav class="app-install">
    <p class="visually-hidden">Установить приложение:</p>
    <ul class="app-install-list">
      <li class="app-install-list__item"><a class="app-install-list__item-link apple" href="#">Apple Store</a></li>
      <li class="app-install-list__item"><a class="app-install-list__item-link google" href="#">Google play</a></li>
      <li class="app-install-list__item"><a class="app-install-list__item-link windows" href="#">Windows Store</a></li>
    </ul>
  </nav>
</section>