section.section.section_white.footer
  nav.social
    p.visually-hidden Наши соцсети:
    ul.social-list
      li.social-list__item
        a(href="#").social__item-link.facebook facebook
      li.social-list__item
        a(href="#").social__item-link.twitter twitter
      li.social-list__item
        a(href="#").social__item-link.linkedin linkedin
      li.social-list__item
        a(href="#").social__item-link.instagram instagram

  nav.footer-navigation
    ul.footer-main-menu
      li.footer-main-menu__item
        a.footer-main-menu__item-link(href="#") На главную
      li.footer-main-menu__item
        a.footer-main-menu__item-link(href="#") Города
      li.footer-main-menu__item
        a.footer-main-menu__item-link(href="#") Для водителей

    ul.footer-sub-menu
      li.footer-sub-menu__item
        a(href="#").footer-sub-menu__item-link Центр поддержки
      li.footer-sub-menu__item
        a(href="#").footer-sub-menu__item-link Вакансии
      li.footer-sub-menu__item
        a(href="#").footer-sub-menu__item-link Разработчики
      li.footer-sub-menu__item
        a(href="#").footer-sub-menu__item-link Блог
      li.footer-sub-menu__item
        a(href="#").footer-sub-menu__item-link О нас

    p.language
      a(href="#").language-link Русский

  nav.app-install
    p.visually-hidden Установить приложение:
    ul.app-install-list
      li.app-install-list__item
        a(href="#").app-install-list__item-link.apple Apple Store
      li.app-install-list__item
        a(href="#").app-install-list__item-link.google Google play
      li.app-install-list__item
        a(href="#").app-install-list__item-link.windows Windows Store