@import "../../assets/scss/utils/vars.scss";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding-top: 2px;

    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

    &:hover {
        text-decoration: none;
        color: $secondColor;
    }

    &.button_main {
        box-shadow: inset 0px -3px 2px 0 rgba(0, 0, 0, 0.12);
        background-image: linear-gradient(to top,
                $specialColorMain,
                $specialColorSecond);
        border-radius: 6px;

        &:hover {
            background-image: linear-gradient(to top,
                    darken($specialColorMain, 10),
                    darken($specialColorSecond, 15));
        }
    }
}