section.promo
  .container
    .row
      .offset-md-1.col-md-10
        h1.promo__heading Компания UBER Partners!
        p.promo__offer Приглашаем водителей! На своем авто!
        p.promo__description
          | Компания UBER, динамически развивающаяся кампания. Мы занимаем на рынке лидирующее место среди таксомоторных компаний. Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете. Бонуcная система. Помимо выполненной работы по заказам мы начисляем бонусы за пиковое время. <br>
          | <br>
          | Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве. <br>
          | Водители у нас зарабатывают от 80000 до 120000 в месяц.
        a.promo__send-request.button.button_main.offset-md-4.col-md-4(href="#") Отправить заявку!

