.a11y {
  outline: none;
  box-shadow: 0 0 0 2px #212121, 0 0 0 4px #080808;
  z-index: 20; }

.main-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  text-transform: none;
  color: #ffffff; }

.a11y {
  outline: none;
  box-shadow: 0 0 0 2px #212121, 0 0 0 4px #080808;
  z-index: 20; }

.main-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  text-transform: none;
  color: #ffffff; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-top: 2px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); }
  .button:hover {
    text-decoration: none;
    color: #ffffff; }
  .button.button_main {
    box-shadow: inset 0px -3px 2px 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    border-radius: 6px; }
    .button.button_main:hover {
      background-image: linear-gradient(to top, #17869b, #00d5ff); }

.header .header-navigation {
  background-color: #212121; }
  .header .header-navigation .main-menu {
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    padding: 10px 38px 0; }
    .header .header-navigation .main-menu .main-menu__item {
      flex-grow: 1;
      text-align: center;
      line-height: 30px; }
      .header .header-navigation .main-menu .main-menu__item:not(:last-child) {
        height: 30px;
        border-right: 2px dotted #000000; }

.header .sub-header {
  min-height: 75px;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.7);
  padding-top: 10px;
  position: absolute; }
  .header .sub-header .logotype {
    margin-top: 2px; }
    .header .sub-header .logotype .logotype__img {
      width: 260px;
      height: 28px;
      margin-bottom: 2px; }
    .header .sub-header .logotype .logotype__description {
      font-size: 12px;
      font-weight: 100;
      color: rgba(255, 255, 255, 0.5); }
  .header .sub-header .call-back {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .header .sub-header .call-back .call-back__description {
      font-size: 11px;
      font-weight: 300; }
    .header .sub-header .call-back .call-back__phone-number {
      font-size: 20px;
      font-weight: normal; }
  .header .sub-header .call-back__request-call {
    margin-top: 5px; }

.promo {
  padding-top: 140px;
  padding-bottom: 130px;
  background: url("../../components/promo/img/bgImage.jpg") center center/cover no-repeat; }
  .promo .promo__heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 52px;
    font-weight: 900;
    text-shadow: 1px 1px 6px black; }
  .promo .promo__offer {
    margin-bottom: 17px;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    text-shadow: 1px 1px 6px black; }
  .promo .promo__description {
    margin-bottom: 170px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.33;
    text-align: center;
    text-shadow: 1px 1px 6px black; }
  .promo .promo__send-request {
    height: 60px;
    font-size: 17px; }

.advantages .item {
  padding-top: 5px;
  padding-bottom: 30px; }
  .advantages .item .item__icon {
    width: 113px;
    height: 113px;
    margin-top: 10px;
    background-color: #1eacc7;
    border-radius: 50%; }
    .advantages .item .item__icon .item__icon-img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .advantages .item .item__heading {
    width: 341px;
    display: block;
    font-size: 17px;
    font-weight: normal;
    color: #1eacc7;
    text-align: left; }
  .advantages .item .item__description {
    width: 346px;
    display: block;
    font-size: 15px;
    font-weight: 300;
    text-align: justify; }

.mobile-app {
  background: linear-gradient(to top, rgba(80, 80, 80, 0.5), rgba(255, 255, 255, 0.5)), url("../../assets/img/road.jpg") center center/cover no-repeat; }
  .mobile-app .card {
    position: relative;
    display: block;
    width: 320px;
    height: 280px;
    padding: 90px 20px 0;
    margin-bottom: 20px;
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: center/cover;
    background-color: rgba(59, 59, 72, 0.9);
    background-blend-mode: multiply; }
    .mobile-app .card:hover {
      background-color: rgba(59, 59, 72, 0.7); }
    .mobile-app .card .card__heading {
      font-size: 24px;
      font-weight: normal;
      line-height: 1.29;
      text-align: center;
      text-transform: uppercase; }
      .mobile-app .card .card__heading::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 35px;
        transform: translate(-50%);
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: #000000; }
      .mobile-app .card .card__heading::after {
        content: "+";
        position: absolute;
        left: 50%;
        bottom: 35px;
        transform: translate(-50%);
        line-height: 27px;
        color: #1eacc7;
        font-size: 30px;
        font-weight: 400; }

.car-choice .car-banner {
  position: relative;
  padding-top: 45px;
  margin-bottom: 350px; }
  .car-choice .car-banner .car-banner__text {
    position: relative;
    z-index: 1;
    padding-bottom: 27px;
    width: 100vw; }
    .car-choice .car-banner .car-banner__text .car-banner__text-heading {
      display: block;
      font-size: 44px;
      font-weight: 400;
      text-align: center; }
    .car-choice .car-banner .car-banner__text .car-banner__text-subheading {
      display: block;
      font-size: 16px;
      color: #212121;
      text-align: center;
      text-transform: uppercase; }
  .car-choice .car-banner::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -20px);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #1eacc7; }
  .car-choice .car-banner .car-banner__img {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translate(-50%); }
  .car-choice .car-banner::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 290px;
    width: 100vw;
    height: 350px;
    background: linear-gradient(to bottom, rgba(7, 7, 22, 0.5), rgba(30, 172, 199, 0.2), #ffffff), #ffffff; }

.car-choice .car-choice__caption {
  position: relative;
  z-index: 4;
  margin-bottom: 48px;
  text-align: center;
  color: #212121;
  font-size: 17px; }

.requirements .requirement {
  width: 490px;
  margin-bottom: 60px; }
  .requirements .requirement.requirement_blue .requirement__heading {
    color: #1eacc7; }
  .requirements .requirement.requirement_blue .requirement__description {
    color: #1eacc7; }
  .requirements .requirement.requirement_blue .requirement-list__item .requirement-list__item-check {
    fill: #1eacc7; }
  .requirements .requirement.requirement_orange .requirement__heading {
    color: #ff5656; }
  .requirements .requirement.requirement_orange .requirement__description {
    color: #ff5656; }
  .requirements .requirement.requirement_orange .requirement-list__item .requirement-list__item-check {
    fill: #ff5656; }
  .requirements .requirement .requirement__heading {
    font-size: 22px;
    font-weight: 400; }
  .requirements .requirement .requirement-list {
    margin-top: 10px;
    padding-left: 40px;
    font-size: 17px; }
    .requirements .requirement .requirement-list .requirement-list__item {
      position: relative;
      margin-bottom: 10px;
      line-height: 24px; }
      .requirements .requirement .requirement-list .requirement-list__item .requirement-list__item-check {
        position: absolute;
        left: -30px;
        top: 2px;
        width: 20px;
        height: 20px; }
  .requirements .requirement .requirement__description {
    font-size: 17px;
    line-height: 24px; }

.section {
  padding: 70px 0 40px 0; }
  .section .section-name {
    height: 24px;
    margin-bottom: 30px;
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px; }
  .section .section-heading {
    margin-bottom: 17px;
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    font-weight: bold; }
  .section .section-subheading {
    margin-top: -15px;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: normal;
    text-align: center; }
  .section.section_white {
    color: #212121;
    background-color: #ffffff; }
    .section.section_white .section-name {
      color: #ffffff;
      background-color: #212121; }
    .section.section_white .section-heading {
      color: #212121; }
    .section.section_white .section-subheading {
      color: #212121; }
  .section.section_black {
    color: #ffffff;
    background-color: #070716; }
    .section.section_black .section-name {
      color: #212121;
      background-color: #ffffff; }
    .section.section_black .section-heading {
      color: #ffffff; }
    .section.section_black .section-subheading {
      color: #ffffff; }
