<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Uber
    link(rel="stylesheet" href="./assets/bootstrap/bootstrap-grid.css")
    link(rel="stylesheet" href="./assets/bootstrap/bootstrap-reboot.css")
    link(rel="stylesheet" href="./assets/scss/base.css")
    //- link(rel="stylesheet" href="./assets/scss/main.css")
    link(rel="stylesheet" href="./pages/index/index.css")

  body
    include ./components/header/header.jade

    include ./components/promo/promo.jade

    include ./components/advantages/advantages.jade

    include ./components/mobile-app/mobile-app.jade

    include ./components/car-choice/car-choice.jade


