section.section.section_white.mobile-app
  .container
    .row.justify-content-center
      .section-name.col-md-2.
        Мобильное приложение
    .row.justify-content-center
      .section-heading.
        Мобильное приложение убер
    .row.justify-content-center
      .section-subheading.
        Сделайте заказ, совершите поездку и оплатите ее стоимость, используя свой мобильный телефон

    .row.justify-content-center
      include ./card/card.jade

      +card({
        link: "#",
        img: "../../components/mobile-app/img/card_1.jpg",
        heading: "Оформление заказа одним касанием",
        })

      +card({
        link: "#",
        img: "../../components/mobile-app/img/card_2.jpg",
        heading: "Надежная подача",
        })

      +card({
        link: "#",
        img: "../../components/mobile-app/img/card_3.jpg",
        heading: "Прозрачные цены",
        })

      +card({
        link: "#",
        img: "../../components/mobile-app/img/card_4.jpg",
        heading: "Безналичная оплата",
        })

      +card({
        link: "#",
        img: "../../components/mobile-app/img/card_5.jpg",
        heading: "Обратная связь",
        })

      +card({
        link: "#",
        img: "../../components/mobile-app/img/card_6.jpg",
        heading: "Разделить стоимость поездки",
        })

