// для трюков, временных и вспомогательных стилей
// =============================================================================

// === основная обертка
.wrapper {
    position: relative;
    
    max-width: 1160px;
    margin: 0 auto;
}

// ↓ адаптивность ==============================================================

// ↑ адаптивность ==============================================================

// ↓ трюки =====================================================================
// === не учитывать размер рамки в блочной модели
*,
*:before,
*:after {
    box-sizing: border-box;
}

// === спрятать контент от глаз, но не от читалки
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// === распорка
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

// === подгоняет картинку под размер бокса
img {
    max-width: 100%;
    height: auto;
}

// ↑ трюки =====================================================================
