
<section class="section section_black car-choice">
  <div class="container">
    <div class="row justify-content-center">
      <div class="section-name col-md-2">Выбор автомобиля</div>
    </div>
    <div class="row justify-content-center">
      <div class="section-heading">Выбор - отличная штука!</div>
    </div>
    <div class="row justify-content-center">
      <div class="section-subheading">Закажите автомобиль, который подходит вам по стилю и бюджету</div>
    </div>
    <div class="row justify-content-center">
      <div class="car-banner">
        <p class="car-banner__text"><span class="car-banner__text-heading">uberX</span><span class="car-banner__text-subheading">Доступный убер</span></p><img class="car-banner__img" src="./components/car-choice/img/car-choice.png" alt="Автомобиль"/>
      </div>
      <p class="car-choice__caption">
        Машины на каждый день.<br>
        Лучше, быстрее и дешевле, чем такси
      </p>
    </div>
  </div>
</section>