section.section.section_white.requirements
  .container
    .row.justify-content-center
      .section-name.col-md-2.
        Требования
    .row.justify-content-center
      .section-heading.
        Условия и требования
    .row.justify-content-center

      .col-6
        .requirement.requirement_blue
          span.requirement__heading УСЛОВИЯ (со своим авто):
          ul.requirement-list
            li.requirement-list__item 
              include ../../assets/img/check.jade
              | Подключаем к системе UBER  под 10%
            li.requirement-list__item 
              include ../../assets/img/check.jade
              | Ни каких взносов  0%!
            li.requirement-list__item 
              include ../../assets/img/check.jade
              | Можем подключать удаленно без приезда в офис
            li.requirement-list__item 
              include ../../assets/img/check.jade
              | ИП не требуется
            li.requirement-list__item 
              include ../../assets/img/check.jade
              | Заказы распределяются без учета рейтинга ближайшим водителям
            li.requirement-list__item 
              include ../../assets/img/check.jade
              | Работа только по безналичному расчету
            li.requirement-list__item 
              include ../../assets/img/check.jade
              | Деньги перечисляем на карту водителю или наличными в офисе
          span.requirement__description.
            В день заработок составляет 7000-12000р + бонус 3000т рублей

      .col-6
        .requirement.requirement_blue
          span.requirement__heading УСЛОВИЯ (на авто компании):
          ul.requirement-list
            li.requirement-list__item 
              include ../../assets/img/check.jade
              | Предоставляем авто без залога
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Без ежедневных выплат по аренде
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Среда пятница и суббота работа на компанию остальные дни вы работаете на себя

      .col-6
        .requirement.requirement_orange
          span.requirement__heading ТРЕБОВАНИЕ:
          ul.requirement-list
            li.requirement-list__item 
              include ../../assets/img/check.jade
              | Наличие автомобиля без рекламы
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Автомобиль не должен быть желтый и не с желтыми номерами
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Машина не старше 3 лет
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Стаж вождения не менее 3 лет
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Девайс на системе андроид 4.0и выше

      .col-6
        .requirement.requirement_orange
          span.requirement__heading ДОКУМЕНТЫ:
          ul.requirement-list
            li.requirement-list__item 
              include ../../assets/img/check.jade
              | Права 2 стороны
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Паспорт лицевая сторона
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Свидетельство о регистрации транспортного средства
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Лицензия (если есть)
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Номер телефона
            li.requirement-list__item  
              include ../../assets/img/check.jade
              | Номер карты для перечисления денег (указать в письме)!




