header.header
  nav.header-navigation
    .container
      ul.main-menu
        li.main-menu__item
          a(href="#") Главная
        li.main-menu__item
          a(href="#") Со своим автомобилем
        li.main-menu__item
          a(href="#") На автомобиле компании
        li.main-menu__item
          a(href="#") Требования
        li.main-menu__item
          a(href="#") Контакты
        li.main-menu__item
          a(href="#") Оставить заявку
  .sub-header
    .container.sub-header-w
      .row
        .logotype.offset-md-1.col-md-4
          a(href="#")
            img.logotype__img(src="./components/header/img/logotype.png" alt="Логотип")
          p.logotype__description Официальный партнер Uber в Москве
        .call-back.offset-md-2.col-md-2
          span.call-back__description Звоните нам ежедневно
          a(href="tel:+74957970988").call-back__phone-number 8 495 797-09-88
        .call-back__request-call.col-md-2
          a(href="#").button.button_main Заказать звонок