
<section class="promo">
  <div class="container">
    <div class="row justify-content-center">
      <div class="offset-md-1 col-md-10">
        <h1 class="promo__heading">Компания UBER Partners!</h1>
        <p class="promo__offer">Приглашаем водителей! На своем авто!</p>
        <p class="promo__description">
          UBER - динамически развивающаяся компания. Мы занимаем на рынке лидирующее место среди таксомоторных компаний. Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете. Бонусная система. Помимо выполненной работы по заказам мы начисляем бонусы за пиковое время. <br>
          <br>
          Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве. <br>
          Водители у нас зарабатывают от 80000 до 120000 в месяц.
        </p>
      </div>
    </div>
    <div class="row justify-content-center"><a class="promo__send-request button button_main col-3" href="#">Отправить заявку!</a></div>
  </div>
</section>