
<section class="section section_white advantages">
  <div class="container">
    <div class="row justify-content-center">
      <div class="section-name col-md-2">Преимущества</div>
    </div>
    <div class="row justify-content-center">
      <div class="section-heading">
        8 причин начать работать с нами
        
      </div>
    </div>
    <div class="row mb-4">
          <div class="item col-6">
            <div class="row">
              <div class="col-3">
                <div class="item__icon"><img class="item__icon-img" src="../../components/advantages/img/wallet.png" alt="Кошелек"/></div>
              </div>
              <div class="col-9"><span class="item__heading">Никаких наличных, оплата происходит автоматически</span><span class="item__description">Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.</span></div>
            </div>
          </div>
          <div class="item col-6">
            <div class="row">
              <div class="col-3">
                <div class="item__icon"><img class="item__icon-img" src="../../components/advantages/img/diagram.png" alt="Графики"/></div>
              </div>
              <div class="col-9"><span class="item__heading">Комиссия 8% + БОНУСЫ</span><span class="item__description">У нас минимальная комиссия и мы выплачиваем бонусы за каждую поездку, некоторые наши конкуренты оставляют бонусы себе. Мы работаем честно и с нами водители зарабатывают больше!</span></div>
            </div>
          </div>
          <div class="item col-6">
            <div class="row">
              <div class="col-3">
                <div class="item__icon"><img class="item__icon-img" src="../../components/advantages/img/money.png" alt="Деньги"/></div>
              </div>
              <div class="col-9"><span class="item__heading">Высокий доход с гарантированными выплатами</span><span class="item__description">Мы выплачиваем заработную плату на личную банковскую карту водителя! Вам не нужно оформлять ООО, ИП, платить налоги, подавать декларацию, оплачивать бухгалтерские услуги и ведение банковского счета.</span></div>
            </div>
          </div>
          <div class="item col-6">
            <div class="row">
              <div class="col-3">
                <div class="item__icon"><img class="item__icon-img" src="../../components/advantages/img/calendar.png" alt="Календарь"/></div>
              </div>
              <div class="col-9"><span class="item__heading">Работа в удобное время, никаких графиков</span><span class="item__description">Вы просто нажимаете кнопку выйти на линию для начала работы, когда решите закончить, нажимаете выйти с линии. Вы можете подрабатывать только утром, вечером, в выходные или праздничные дни! </span></div>
            </div>
          </div>
          <div class="item col-6">
            <div class="row">
              <div class="col-3">
                <div class="item__icon"><img class="item__icon-img" src="../../components/advantages/img/key.png" alt="Замочный ключ"/></div>
              </div>
              <div class="col-9"><span class="item__heading">Комфортное, прозрачное и простое подключение</span><span class="item__description">Мы подключаем дистанционно и бесплатно, Вам нет необходимости приезжать к нам! Вы присылаете нам копии документов, мы регистрируем Вас и присылаем данные для подключения, через 1-2 дня Вы можете начинать работать!</span></div>
            </div>
          </div>
          <div class="item col-6">
            <div class="row">
              <div class="col-3">
                <div class="item__icon"><img class="item__icon-img" src="../../components/advantages/img/navigation.png" alt="Навигация"/></div>
              </div>
              <div class="col-9"><span class="item__heading">Всегда большое количество заказов</span><span class="item__description">Приложение показывает, где на данный момент больше всего заказов и где действуют повышенные тарифы. У Вас не будет простоя и холостых пробегов. Наши пассажиры всегда приятные и абсолютно неконфликтные люди, которых приятно возить.</span></div>
            </div>
          </div>
          <div class="item col-6">
            <div class="row">
              <div class="col-3">
                <div class="item__icon"><img class="item__icon-img" src="../../components/advantages/img/phone.png" alt="Телефон"/></div>
              </div>
              <div class="col-9"><span class="item__heading">Круглосуточная поддержка</span><span class="item__description">В Uber действует круглосуточная поддержка водителей по электронной почте. Если что-то непонятно, Вы всегда можете задать вопрос через On-line консультацию.</span></div>
            </div>
          </div>
          <div class="item col-6">
            <div class="row">
              <div class="col-3">
                <div class="item__icon"><img class="item__icon-img" src="../../components/advantages/img/car.png" alt="Автомобиль"/></div>
              </div>
              <div class="col-9"><span class="item__heading">Без шашечек и наклеек</span><span class="item__description">Вам не нужно менять цвет, устанавливать «шашки» на автомобиль и обклеивать его наклейками.</span></div>
            </div>
          </div>
    </div>
  </div>
</section>