section.section.section_black.car-choice
  .container
    .row.justify-content-center
      .section-name.col-md-2.
        Выбор автомобиля
    .row.justify-content-center
      .section-heading.
        Выбор - отличная штука!
    .row.justify-content-center
      .section-subheading.
        Закажите автомобиль, который подходит вам по стилю и бюджету
    .row.justify-content-center
      .car-banner
        p.car-banner__text
          span.car-banner__text-heading uberX
          span.car-banner__text-subheading Доступный убер
        img.car-banner__img(src="../../components/car-choice/img/car-choice.png" alt="Автомобиль")
      p.car-choice__caption.
        Машины на каждый день.<br>
        Лучше, быстрее и дешевле, чем такси